
.arrow_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	width: 30px;
	outline: none;
	border: 1px solid var(--black);
	margin-left: 5px;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	color: white;
}

.up_arrow,
.down_arrow {
	font-size: 25px;
	font-weight: bolder;
	color: var(--black);
}
